/*--- Basics ---*/
a { outline: none; }
.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }
.underline { text-decoration: underline; }
.hidden { display: none; }
.hidden-complete { display: none; visibility: hidden; }
.align-center { margin: 0 auto; display: block; }
.txtLeft { text-align: right; }
.txtRight { text-align: right; }
.txtCenter { text-align: center; }
.txtCaps { text-transform: uppercase; }
.whtTxt { color: #fff; }
code {
    background: #F1F1F1;
  	border: 1px solid #E1E1E1;
  	border-radius: 4px;
    white-space: nowrap;
	  padding: 15px;
  	margin: 0 15px;
}
pre > code {
    white-space: pre;
    padding: 12px;
	  display: block;
}
.txtWht { color: #fff; }


.pAll0 { padding: 0px !important; }

.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt30 { padding-top: 30px !important; }
.pt40 { padding-top: 40px !important; }
.pt50 { padding-top: 50px !important; }
.pt60 { padding-top: 60px !important; }
.pt70 { padding-top: 70px !important; }
.pt80 { padding-top: 80px !important; }

.pb10 { padding-bottom: 10px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb50 { padding-bottom: 50px !important; }
.pb60 { padding-bottom: 60px !important; }
.pb70 { padding-bottom: 70px !important; }
.pb80 { padding-bottom: 80px !important; }

.pRT4 { padding-right: 4px !important; }

.pLT4 { padding-left: 4px !important; }

.mt30 { margin-top: 30px !important; }

.mb0 { margin-bottom: 0px !important; }
.mb3 { margin-bottom: 3px !important; }
.mb4 { margin-bottom: 4px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb6 { margin-bottom: 6px !important; }
.mb8 { margin-bottom: 8px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb12 { margin-bottom: 12px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb18 { margin-bottom: 18px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb22 { margin-bottom: 22px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb55 { margin-bottom: 55px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb70 { margin-bottom: 70px !important; }
.mb80 { margin-bottom: 80px !important; }
.mb90 { margin-bottom: 90px !important; }

.mRT1 { margin-right: 1px !important; }

.mLT1 { margin-left: 1px !important; }


/*--- Responsive Grid ---*/
.container {
  width: 100%;
	position: relative;
  max-width: 1200px;
	padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.container.flex {
	width: 100%;
	max-width: 100%;
	padding: 0 2%;
}
.container img {
	max-width: 100%;
	height: auto;
}
.row {
	margin-bottom: 20px;
	display: block;
	clear: both;
}
.des-column, .formBlk, body *[class*="col_"] {
	margin: 0;
	display: block;
	float: left;
}
.des-column.fr, .formBlk.fr, *[class*="col_"].fr {
  float: right;
}
body *[class*="col_"] {
	margin-left: 0;
	margin-right: 0;
}
.des-inner {
    padding: 0 20px;
}
.des-inner.halfPad {
    padding: 0 10px;
}
.des-inner.visible {
    background: #e8e8e8;
    min-height: 100px;
    border: #aaa solid 1px;
}
.des-inner.alpha, .container.alpha {
    padding-right: 0;
}
.des-inner.omega, .container.omega {
    padding-left: 0;
}


.clear {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    clear: both;
    display: block;
}
.clearfix:after {
	width: 0;
	height: 0;
	content: '';
	font-size: 0;
	line-height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}
* html .clearfix, *:first-child+html .clearfix {
	*zoom: 1;
}


.col_1  { width: 8.3333333333%; }
.col_2  { width: 16.666666667%; }
.col_3  { width: 25%; }
.col_4  { width: 33.333333333%; }
.col_5  { width: 41.666666667%; }
.col_6  { width: 50%; }
.col_7  { width: 58.333333333%; }
.col_8  { width: 66.666666666%; }
.col_9  { width: 75%; }
.col_10 { width: 83.333333333%; }
.col_11 { width: 91.666666667%; }
.col_12 { width: 100%; }

.col_20 { width: 20%; }


/*--- Form Grid ---*/
.formBlk {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    display: block;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.formBlk.minSize {
    width: 420px;
    margin: 0 auto;
}
.formBlk.mdSize {
    width: 840px;
    margin: 0 auto;
}
.formInner {
    padding-right: 32px;
    margin-bottom: 20px;
}
.formBlk .input-group, .formBlk .select-group, .formBlk .checkbox-group, .formBlk .radio-group {
    position: relative;
    display: block;
}
.formBlk .select-group .select select {
    background-color: transparent;
    width: 130%;
    height: 54px;
    font-family: 'calibri', Arial, sans-serif;
    font-size: 16px;
    color: #666;
    font-weight: normal;
    border: none;
    text-transform: uppercase;
    text-indent: 0;
    text-overflow: '';
    position: relative;
    outline: none;
    padding: 16px;
    display: block;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.formBlk .select-group .select select option {
    font-style: normal;
    font-weight: normal;
}
.formBlk .select-group .select select:focus {
    width: 100%;
    z-index: 9999;
}
.formBlk .select-group .select {
    border: 1px solid #b0b0b0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e2e2e2));
	background: -moz-linear-gradient(top, #ffffff 0%, #e2e2e2 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#e2e2e2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0);

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: background, border 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.formBlk .select-group .select:hover, .formBlk .select-group .select:active, .formBlk .select-group .select:focus {
	background: #e2e2e2;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(100%,#ffffff));
	background: -moz-linear-gradient(top, #e2e2e2 0%, #ffffff 100%);
	background: linear-gradient(to bottom, #e2e2e2 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#ffffff',GradientType=0);
}
.formBlk .select-group .select:focus{
    z-index: 999;
}
.formBlk .select-group .select:before {
    font-family: 'icomoon-ultimate';
    font-size: 22px;
    color: #666;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    content: "\e095";
    top: 14px;
    right: 13px;
    z-index: 999;
}
.formBlk .txtBoxContainer {
    padding-right: 32px;
}
input[type="text"], input[type="email"], textarea {
    background: #eee;
    width: 100%;
    max-width: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #666;
    font-weight: normal;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
    outline: none;
    padding: 17px 15px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
textarea {
    min-height: 142px;
}
input[type="text"]:hover, input[type="text"]:focus, input[type="email"]:hover, input[type="email"]:focus, textarea:hover, textarea:focus {

}
input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    background: #f8f8f8;
    border: #999 solid 1px;
}
input[type="text"].error, input[type="email"].error, textarea.error {
    border: #ed5a2a solid 1px;
}


/*---------------------------------
	Responsive Grid Media Queries
	1280-1024 	- Desktop
	1024-768 	- Tablet Landscape
	768-480 	- Tablet Portrait
	480-less 	- Phone Landscape & Smaller
-----------------------------------*/
@media all and (max-width: 1200px) {
	.container {
		max-width: 1024px;
	}
  .col_lg_1  { width: 8.3333333333%; }
  .col_lg_2  { width: 16.666666667%; }
  .col_lg_3  { width: 25%; }
  .col_lg_4  { width: 33.333333333%; }
  .col_lg_5  { width: 41.666666667%; }
  .col_lg_6  { width: 50%; }
  .col_lg_7  { width: 58.333333333%; }
  .col_lg_8  { width: 66.666666666%; }
  .col_lg_9  { width: 75%; }
  .col_lg_10 { width: 83.333333333%; }
  .col_lg_11 { width: 91.666666667%; }
  .col_lg_12 { width: 100%; }
}
@media all and (max-width: 1025px) {
	.container {
		max-width: 100%;
	}
  .col_md_1  { width: 8.3333333333%; }
  .col_md_2  { width: 16.666666667%; }
  .col_md_3  { width: 25%; }
  .col_md_4  { width: 33.333333333%; }
  .col_md_5  { width: 41.666666667%; }
  .col_md_6  { width: 50%; }
  .col_md_7  { width: 58.333333333%; }
  .col_md_8  { width: 66.666666666%; }
  .col_md_9  { width: 75%; }
  .col_md_10 { width: 83.333333333%; }
  .col_md_11 { width: 91.666666667%; }
  .col_md_12 { width: 100%; }
}
@media all and (max-width: 769px) {
	.container {
		max-width: 100%;
	}
  .col_sm_1  { width: 8.3333333333%; }
  .col_sm_2  { width: 16.666666667%; }
  .col_sm_3  { width: 25%; }
  .col_sm_4  { width: 33.333333333%; }
  .col_sm_5  { width: 41.666666667%; }
  .col_sm_6  { width: 50%; }
  .col_sm_7  { width: 58.333333333%; }
  .col_sm_8  { width: 66.666666666%; }
  .col_sm_9  { width: 75%; }
  .col_sm_10 { width: 83.333333333%; }
  .col_sm_11 { width: 91.666666667%; }
  .col_sm_12 { width: 100%; }
}
@media all and (max-width: 639px) {
	.container *[class*="col_"] {
		width: 100%;
		display: block;
		float: none;
		clear: both;
	}
    .des-inner {
        margin-bottom: 40px;
    }
    .des-inner.desMinBT {
        margin-bottom: 0px;
    }
}
@media all (max-width: 481px) {
	.container {
		max-width: 100%;
	}
	.container *[class*="col_"] [class*="col_"] {
		width: 100%;
	}
}
